.wave-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
  }
  
  .wave {
    position: absolute;
    width: 200%;
    height: 100%;
    animation: waveMove 12s linear infinite;
    transform: translateX(0);
  }
  
  @keyframes waveMove {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }