#particle canvas{
 z-index: -10;
 position: absolute;
 height: 100%;
 width: 100%;
}
#content canvas{
    z-index: 10;
    background: #fff;
   }
.section-spacing {
  margin-top: 6rem;   /* gap above the section */
  margin-bottom: 6rem; /* gap below the section */
}
